
<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    {{function('wp_head')}}
</head>
<body class="font-body antialiased">

<nav id="site-heading" class="lg:absolute bg-white bg-opacity-95 lg:mt-2 w-full site-navigation flex items-center justify-between flex-wrap p-2 lg:p-6" role="navigation">
  <div class="block lg:hidden" is="kc-nav" inline-template>
    <button v-on:click="toggleNav()" class="flex items-center px-3 py-2 border rounded border-black">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>

  <div class="flex items-center flex-shrink-0 text-white mr-6">
    {% include "svg/logo.svg" %}
  </div>

  <div class="lg:order-last">
    <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded border-black hover:bg-black hover:text-white transition-colors duration-200">Get a quote</a>
  </div>

  <div class="hidden w-full lg:block flex-grow lg:flex lg:items-center lg:w-auto">
    {% include "menu.twig" with {'items': menu.get_items} %}
  </div>
</nav>



{% block content %}

{% endblock %}
{{ function('wp_footer') }}
</body>
</html>