
<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    {{function('wp_head')}}
</head>
<body class="font-body font-light bg-white antialiased">
<div id="site-heading"><div is="kc-nav" inline-template>
<nav class="bg-white bg-opacity-95 w-full site-navigation flex items-center justify-between flex-wrap" role="navigation">
  <div class="block lg:hidden p-4">
    <button aria-label="Open menu" v-on:click="toggleNav()" class="flex items-center px-3 py-2 border rounded border-black">
      {% include "svg/menu-open.svg" %}
    </button>
  </div>

  <div class="flex items-center text-white p-6 px-10 lg:mr-4">
    {% include "svg/logo.svg" %}
  </div>

  <div class="lg:order-last">
    <a href="#"  v-on:click="toggleQuote()" class="hidden px-4 py-2 leading-none border rounded border-black hover:bg-black hover:text-white transition-colors duration-200">Get a quote</a>
    <div :class="{'translate-y-0': isQuoteShown, 'translate-y-full': !isQuoteShown}" class="translate-y-full z-10 transform transition-transform ease-linear duration-200 bg-white p-4 fixed top-0 left-0 w-full h-full flex flex-col">
      <div>
        <button aria-label="Close quote form" v-on:click="toggleQuote()" class=" flex items-center px-3 py-2 border rounded border-black">
        {% include "svg/menu-close.svg" %}
        </button>
      </div>
      <div class="overflow-scroll">
        </div>
      </div>
  </div>

  <div :class="{'translate-y-0': isNavShown, 'translate-y-full': !isNavShown}" class="translate-y-full lg:translate-y-0 transform transition-transform z-10 ease-linear duration-200 w-full h-screen fixed flex flex-col flex-grow top-0 left-0 bg-white p-4 lg:bg-transparent lg:p-0 lg:h-auto lg:relative lg:flex lg:flex-row lg:items-center lg:w-auto">
    <div>
      <button aria-label="Close menu" v-on:click="toggleNav()" class="flex items-center px-3 py-2 border rounded border-black lg:hidden">
      {% include "svg/menu-close.svg" %}
    </button>
    </div>
    <div class="overflow-scroll flex-grow">
    {% include "menu.twig" with {'items': menu.get_items} %}
    </div>
  </div>
</nav>
</div>
</div>
{% block content %}
No content
{% endblock %}

{% include "footer.twig" with {'items': menufooter.get_items} %}

{{ function('wp_footer') }}
</body>
</html>