
<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">
    {{function('wp_head')}}
</head>
<body class="font-body antialiased">
<div id="site-heading"><div is="kc-nav" inline-template>
<nav class="lg:absolute bg-white bg-opacity-95 lg:mt-2 w-full site-navigation flex items-center justify-between flex-wrap p-4 lg:p-6" role="navigation">
  <div class="block lg:hidden">
    <button v-on:click="toggleNav()" class="flex items-center px-3 py-2 border rounded border-black">
      {% include "svg/menu-open.svg" %}
    </button>
  </div>

  <div class="flex items-center flex-shrink-0 text-white mr-6">
    {% include "svg/logo.svg" %}
  </div>

  <div class="lg:order-last">
    <a href="#"  v-on:click="toggleQuote()" class="inline-block px-4 py-2 leading-none border rounded border-black hover:bg-black hover:text-white transition-colors duration-200">Get a quote</a>
    <div :class="{'translate-y-0': isQuoteShown, 'translate-y-full': !isQuoteShown}" class="z-10 transform transition-transform ease-linear duration-300 bg-white p-4 fixed top-0 left-0 w-full h-full flex flex-col">
      <div>
        <button v-on:click="toggleQuote()" class="flex items-center px-3 py-2 border rounded border-black">
        {% include "svg/menu-close.svg" %}
        </button>
      </div>
      <div class="overflow-scroll">
        <script src='https://crm.zoho.com/crm/WebFormServeServlet?rid=5f0a4d3347aeae3b6f76fed65f8477bafeca9630d2c5d3a063e1dffffc2bf1cdgidd798002e118274337b5a1e93231e1ae4d7a2f1fe4d1557d8f7ab903d7d7b9058&script=$sYG'></script>
        </div>
      </div>
  </div>

  <div :class="{'translate-y-0': isNavShown, 'translate-y-full': !isNavShown}" class="lg:translate-y-0 transform transition-transform ease-linear duration-300 w-full h-screen fixed flex flex-col flex-grow top-0 left-0 bg-white p-4 lg:bg-transparent lg:p-0 lg:h-auto lg:relative lg:flex lg:flex-row lg:items-center lg:w-auto">
    <div>
      <button v-on:click="toggleNav()" class="flex items-center px-3 py-2 border rounded border-black lg:hidden">
      {% include "svg/menu-close.svg" %}
    </button>
    </div>
    <div class="overflow-scroll flex-grow">
    {% include "menu.twig" with {'items': menu.get_items} %}
    </div>
  </div>
</nav>
</div>
</div>



{% block content %}

{% endblock %}
{{ function('wp_footer') }}
</body>
</html>