<article>
<a href="{{post.link}}" class="block hover:opacity-75 transition-opacity ease-in-out duration-500">
	{% if post.get_thumbnail %}
	<picture>
		<source srcset="{{ post.thumbnail.src|towebp|resize(300, 190) }}" type="image/webp">
		<img src="{{post.thumbnail|tojpg|resize(300, 190)}}" alt="{{ post.thumbnail.alt }}" width="300" height="190" loading="lazy" class="w-full mb-3" />
	</picture>

	{% endif %}
	<h2 class="leading-none text-sm">{{post.title}}</h2>
	</a>
</article>